*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #868E96;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--Color-primary);
  border-radius: 20px;
  border: 1px solid var(--Color-primary);
}